<h1>Listing venue_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_users.each do |venue_user| %>
      <tr>
        <td><%= link_to 'Show', venue_user %></td>
        <td><%= link_to 'Edit', edit_venue_user_path(venue_user) %></td>
        <td><%= link_to 'Destroy', venue_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue user', new_venue_user_path %>
