<h1>Listing event_user_statuses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_user_statuses.each do |event_user_status| %>
      <tr>
        <td><%= link_to 'Show', event_user_status %></td>
        <td><%= link_to 'Edit', edit_event_user_status_path(event_user_status) %></td>
        <td><%= link_to 'Destroy', event_user_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event user status', new_event_user_status_path %>
